.pag_pagination {
    list-style-type: none;
    cursor: auto;
}

.pag_each {
    border: 1px solid #00fff6;
    display: inline-block;
    background-color: black;
    padding: 2px;
    font-family: "League of Legends", Arial, sans-serif;
    height: 22px;
    width: 20px;
    color: #00fff6;
    font-size: 1.1rem;
    border-radius: 6px;
    margin-top: 2rem;
}

.pag_each:hover {
    background-color: #8400ff;
}

span {
    color: #00fff6;
    font-size: 1.1rem;
    font-family: "League of Legends", Arial, sans-serif;
}