@font-face {
    font-family: "League of Legends";
    src: url(./../../Tipografia/Friz-Quadrata-Font/Friz\ Quadrata\ Italic.ttf);
  }

.landing_page {
    height: 104vh;
    background-image: url('../../imag/Home/561442.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.landing_title {
    font-size: 4rem;
    -webkit-text-stroke: 0.1px #00fff6;
    color: black;
    word-spacing: 0.1rem;
    margin-top: -2rem;
    padding-top: 3rem;
    font-family: "League of Legends", Arial, sans-serif;
};


.landing_subtitle {
    text-align: left;
    justify-content: left;
    word-spacing: 0.2rem;
    font-size: 1.3rem;
    margin-left: 10rem;
    margin-top: 2.3rem;
    color: white;
    font-family: monospace;
    opacity: 0.9;
}

.landing_button {
    color: #00fff6;
    border: 10px rgb(242, 76, 30);
    border-radius: 0.4rem;
    background-color: #370067;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bolder;
    width: 150px;
    text-decoration: none;
    text-align: center;
    opacity: 0.8;
    font-family: "League of Legends", Arial, sans-serif;
}

.landing_button:hover {
    opacity: 1;
}